@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { font-family: Nintendo; src: url('./assets/fonts/nintendo-font.otf'); } 
@font-face { font-family: Nintendo; font-weight: bold; src: url('./assets/fonts/nintendo-font-bold.otf');}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  font-size: 64px;
}

h1, h2, h3, h4, h5, p {
  font-family:Nintendo;
}

h3 {
  font-size: 28px;
  color: #303030;
}

h5 {
  font-size: 18px;
  color: #666666;
  opacity: 0.77;
}

h4 {
  font-size: 24px;
  color: #B1BCCA;
  opacity: 0.80;
}

p {
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
