.About-header {
    background: rgb(193,248,188);
    background: linear-gradient(180deg, rgba(193,248,188, 1) 0%, rgba(255,255,255,1) 100%);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans';
    color: black;
}

.About-text0 {
    max-width: 450px;
    line-height: 130%;
    font-family: 'Josefin Sans';
    max-height: 600px;
    position:absolute;
    top: 20vh; left: 20vw;
}

.insta-user {
    display: inline-block;
    color: rgba(255,255,255,0);
    transition: .5s;
    transform: translateX(-150px) translateY(10px);
    pointer-events: none;
    position: absolute;
}

.insta-button:hover .insta-user {
    color: black;
    transform: translateX(-180px) translateY(10px);
}

.About-text0 h2 {
    font-size: 40px;
}

.headshot {
    position: absolute;
    top: 15vh; left: 55vw;
}

@keyframes fadeIn{
    to {
        opacity: 1;
    }
}

.About-text0 span {
    font-size: 20px;
    opacity: 0;
    animation: fadeIn 2.0s ease-out forwards;
}

.About-text0 span:nth-of-type(1) {
    animation-delay: 0.5s;
}

.About-text0 span:nth-of-type(2) {
    animation-delay: 1.5s;
}

.About-text0 span:nth-of-type(3) {
    animation-delay: 2.5s;
}

.About-text0 span:nth-of-type(4) {
    animation-delay: 3.5s;
}

.About-text0 span:nth-of-type(5) {
    animation-delay: 5.5s;
}

.About-text0 span:nth-of-type(6) {
    animation-delay: 7.5s;
}