/* Vector 1 */

.vector1 {
    display: flex;
    position: absolute;
    top: 100%;
    width: 100%;
    justify-content: center;
    z-index: 1;
}

.event {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-family: 'Josefin Sans';
    z-index: 2;
}

.row {
    display: flex;
    align-items: flex-start;
}

.group {
    display: flex;
    align-items: center;
}

.month {
    background-color: white;
    padding: 15px;
    align-items: center;
    z-index: 2;
}

.leaf {
    position: relative;
}

.right-leaf {
    flex-direction: row-reverse;
}

.visible {
    visibility: hidden;
}

.display {
    display: none;
}

.title {
    position:absolute;
    width: 219px;
    height:  auto;
    max-height: 47px;
    min-height: 31px;
    text-align: end;
    right: 20%;
    top: calc(50% - (var(--height) / 2));
}

.timeline {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 105%;
    height: 2500px;
    width: 100%;
    background-color: white;
    padding-bottom: 100px;
}
